<div class="player">
  <iframe
    id="embed_player"
    frameborder="0"
    width="350"
    height="396"
    src="https://tropicofm.airtime.pro/embed/player?stream=auto&skin=2"
  ></iframe>
</div>
<div
  style="
    font-size: 10px;
    color: #cccccc;
    line-break: anywhere;
    word-break: normal;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-family: Interstate, Lucida Grande, Lucida Sans Unicode, Lucida Sans,
      Garuda, Verdana, Tahoma, sans-serif;
    font-weight: 100;
  "
>
  <a
    href="https://soundcloud.com/kyle-scheffler-458698114"
    title="Tropico FM"
    target="_blank"
    style="color: #cccccc; text-decoration: none"
    >Tropico FM</a
  >
  ·
  <a
    href="https://soundcloud.com/kyle-scheffler-458698114/sets/continental-drift"
    title="Tropico FM"
    target="_blank"
    style="color: #cccccc; text-decoration: none"
    >Tropico FM</a
  >
</div>
<div class="posts">
  {% unless paginator.posts %}
  <article>
    <section class="post-content"><p>There are no blog posts</p></section>
  </article>
  {% endunless %} {% for post in paginator.posts %}
  <div class="post-teaser">
    {% if post.thumbnail %}
    <div class="post-img">
      <a aria-label="{{ post.title }}" href="{{ post.url | relative_url }}">
        <img alt="{{ post.title }}" src="{{ post.thumbnail | relative_url }}" />
      </a>
    </div>
    {% endif %}
    <span>
      <header>
        <h1>
          <a
            aria-label="{{ post.title }}"
            class="post-link"
            href="{{ post.url | relative_url }}"
          >
            {{ post.title }}
          </a>
        </h1>
        {% include blog/post_info.liquid author=post.author date=post.date %}
      </header>
      {% if site.excerpt or site.theme_settings.excerpt %}
      <div class="excerpt">
        {% if site.excerpt == "truncate" %}
        {{ post.content | strip_html | truncate: "250" | escape }}
        {% else %}
        {{ post.excerpt | strip_html | escape }}
        {% endif %}
      </div>
      {% endif %}
    </span>
  </div>
  {% endfor %}
</div>

{% include blog/blog_nav.liquid %}
